.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #020202;
}
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    aspect-ratio: 1/1;
    box-sizing: border-box;

    border-radius: 2rem;
    background-color: #f0f0f0;

}
